@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  font-family: tohama, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navLogo {
  background-color: grey;
  padding: 10px;
  justify-content: space-evenly; }
  .navLogo .mix {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .navLogo img {
    width: 50%; }
  .navLogo ul {
    display: flex;
    font-size: 1em !important; }
    .navLogo ul li {
      list-style: none;
      font-family: "Open Sans", sans-serif;
      display: inline;
      text-align: center;
      margin: 0 50px 0 0; }
      .navLogo ul li a {
        color: white;
        text-decoration: none; }

.text-center h4 {
  color: black;
  text-align: center;
  font-size: 2em;
  align-items: center; }

.text-center .articulo .mix {
  display: flex;
  flex-direction: row;
  align-items: center; }

.text-center p {
  color: black;
  font-weight: 600;
  font-size: 1em;
  font-style: italic;
  line-height: 2rem;
  margin-left: 10px;
  font-family: "Tangerine", cursive; }

.text-center img {
  width: 50%; }

.pie {
  display: flex;
  flex-direction: row;
  background: grey;
  justify-content: space-evenly; }
  .pie h3 {
    display: inline-block;
    color: white;
    padding-top: 20px;
    font-size: 1rem; }
  .pie img {
    padding-top: 5px; }

.text-center form {
  width: 50%;
  padding: 10px;
  margin: auto;
  border: 2px solid black;
  background-color: grey; }

.text-center form label {
  width: 50%;
  display: inline-block; }

.text-center form fieldset {
  font-size: 1em; }

.text-center textarea {
  width: 80%;
  height: 30%;
  background-color: whitesmoke;
  margin: 8px 0;
  resize: none;
  display: block; }

.boton, .boton-enviar, .boton-cancelar {
  display: flex;
  width: 20%;
  height: 30%;
  margin: auto;
  background-color: white;
  text-align: center;
  justify-content: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

.boton-enviar {
  background-color: #108EFF;
  color: white; }

.boton-cancelar {
  background-color: darkgrey;
  color: white; }
