@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
	font-family: tohama, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	background-image: url(../imagenes/huellas-fondo.jpg);
	background-attachment: fixed; /*fondo fijo */
	overflow: auto;
}

h4{
	color: black;
	font-size: 2rem;
	line-height: 4.5rem;
}



section p{
	color: black;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 2rem;
	margin-left: 10px;
}

section img{
	border: solid 2px black;
	width: 20%;
}


h3{
	color: white;
	font-size: 1rem; /*tamaño textp footer*/
	display: inline-block;
	padding-top: 5px;
}

.text-center{
	text-align: center;
}
.text-italic{
	font-style: italic;
}
.text-left{
	text-align: left;

}
.w-100{
	width: 100%;
}

form{
	width:250px;
	padding:10px;
	margin:auto;
	background-color:#656161;
}

form label{
	width:150px;
	font-weight:bold;
	display:inline-block;
	
}
form fieldset {
	font-size: 1rem;
}

textarea{
	width:80%;
	height:50px;
	background-color:whitesmoke;			
	margin:8px 0;
	resize:none;
	display:block;
}

iframe{
	padding: 20px;
	border: 2px solid black;
	width: 50%;

}

/*inicia agregado grid y flex*/
.grid{
	width: 99%;
	display: grid;
}

.template-areas{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "nav" 
	"header" 
	"centro" 
	"footer";

}

#superior{
	grid-area: nav;
}

#header{
	grid-area: header;

}
#centro{
	grid-area: centro;
}

#pie{
	grid-area: footer;
}

.justify-items{
align-items: center;

}
.align-items{
	align-items: center;
}



.pie{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.artimg{
	width: 50%;

}



/*transicion nav*/
/*		.navLogo ul li a:hover{
			color: blueviolet;
			font-weight: 600;
		
		}
/*fin transicion nav*/

/*transicion footer*/
		h3:hover{
			color: blueviolet;
			font-weight: 600;
			transition: 2s;
		
		}
/*fin transicion footer*/


/*animacion de texto Acerca de mi*/
h4 {
animation-duration: 3s;
animation-name:acerca-de-mi;
animation-iteration-count: 5;
text-align: center;
}
@keyframes acerca-de-mi {
0% {
opacity: 0;
color: white;
font-size: 1rem;
}
100% {
opacity: 1;
color: blue;
font-size: 3rem;
}
}

/*fin animacion de texto Acerca de mi*/




@media (min-width:768px){
	.template-areas{
		grid-template-columns: 60vw 40vw;
		grid-template-columns: repet(4, auto);
		grid-template-areas: "nav nav"
		"header header"
		"centro centro"
		"footer footer"
	}

h4{
	color: black;
	font-size: 3rem;
	line-height: 4.5rem;
}

section p{
	
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 2.6rem;
	margin-left: 10px;
}
section img{
	border: solid 2px blue;
	width: 40%;

}

#centro .articulo{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

h3{
	color: white;
	font-size: 2rem; /*tamaño textp footer*/
	display: inline-block;
	padding-top: 20px;
}
table tbody{
	
	font-size: 2rem;
	

}
table thead{

	font-size: 2rem;



}

form{
	width:500px;
	padding:10px;
	font-size: 1.2rem;
	margin:auto;
	background-color:#656161;
}


/*@media (min-width:1024px){







}*/