@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$fontMain: 'Open Sans' , sans-serif;
$fontSecondary: 'Tangerine' , cursive;

//variables para los textos
$textXL:4em;
$textLg:3em;
$textMd:2em;
$textSm:1em;

$d-flex:flex;